@model List<Kitap>
@using System.Security.Claims;
@foreach (var item in Model)
{
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5">
                    <a href="#">
                        <img class="img-fluid rounded" src="http://placehold.it/400x500" alt="@item.EserAdi">
                    </a>
                </div>

                <div class="col-lg-7">

                    <h1 class="card-title"><b>@item.EserAdi</b></h1>
                    <br /><br />
                    <p class="card-text"><b>Yazar: </b> @item.Yazar.AdSoyad</p>
                    <p class="card-text"><b>ISBN: </b> @item.ISBN</p>
                    <p class="card-text"><b>Yayınevi: </b> @item.Yayinevi.Ad</p>
                    <p class="card-text"><b>Tür: </b> @item.Tur.TurAd</p>
                    <p class="card-text"><b>Sayfa Sayısı: </b> @item.SayfaSayisi</p>
                    <p class="card-text"><b>Baskı Sayısı: </b> @item.BaskiSayisi</p>
                    <p class="card-text"><b>Dil: </b> @item.Dil.DilAd</p>


                    @if (item.OduncDurumu == false)
                    {
                        <p class="card-text" style="color:green"><b>Durum: Rafta </b> </p>
                    }
                    else
                    {
                        <p class="card-text" style="color:red"><b>Durum: Ödünç alınmış</b> </p>
                    }
                    <br /><br />
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Düzenle</a>
                    <a class="btn btn-primary " asp-controller="Kitap" asp-action="Details" asp-route-id=@item.Id>Detaylar</a>
                    @if (User.IsInRole("User"))
                    {
                        <form asp-controller="Ayirttirilanlar" asp-action="Create" method="post" style="display:inline-block">

                            <input type="hidden" name="KitapId" value="@item.Id" />
                            <input type="hidden" name="ayirttirmaTarihi" value="@DateTime.UtcNow.ToString("dd-MM-yyyy HH:mm:ss")" />
                            <input type="hidden" name="UserId" value="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                            <input type="submit" value="Ayırttır" class="btn btn-primary" />
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>





}