@model KutuphaneOtomasyonu.Models.Kitap

@{
    ViewData["Title"] = "Details";
    var userId=ViewBag.userId;
}

<h1>Details</h1>

<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yazar.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OduncDurumu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OduncDurumu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EserAdi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EserAdi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BaskiSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BaskiSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SayfaSayisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SayfaSayisi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kapak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kapak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tur.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dil.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="be-comment-block">
        <h1 class="comments-title">Yorumlar(3)</h1>




        @await Component.InvokeAsync("ListYorum",Model.Id)




        <form class="form-block" asp-controller="Yorum" asp-action="Create" method="post">
            <div class="row">

                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea name="Icerik" class="form-input" required="" placeholder="Your text"></textarea>
                        <input type="hidden" name="KitapId" value="@Model.Id" />
                        <input type="hidden" name="olusturulmaTarihi" value="@DateTime.UtcNow.ToString("dd-MM-yyyy HH:mm:ss")" />
                        <input type="hidden" name="UserId" value="@userId" />


                    </div>
                </div>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>