@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Kütüphane";
    var sonKitapKapak = ViewBag.sonKitapKapak;
    var sonSureliYayinKapak = ViewBag.sonSureliYayinKapak;
    var sonKitapId = ViewBag.sonKitapId;
    var sonSureliYayinId = ViewBag.sonSureliYayinId;
}



<div class="container">
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form id="search-form" asp-action="Ara" method="get">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control" id="exampleFormControlSelect1" name="Secim">
                                            <option value="Kitap">@localizer["Kitap"]</option>
                                            <option value="SureliYayin">@localizer["Süreli Yayın"]</option>            
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="@localizer["Aramanızı giriniz..."]" class="form-control" id="search" name="SearchString">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-base" value="filter">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@localizer["Son Eklenen Kitap"]</h4>
                <div class="card-body">
                    <a asp-controller="Kitap" asp-action="Details" asp-route-id="@sonKitapId">
                        <img class="img-fluid rounded" style="height:400px;width:400px" src="@sonKitapKapak" alt="">
                    </a>                   
                </div>
                <div class="card-footer">
                    <a asp-controller="Kitap" asp-action="Index" class="btn btn-primary">@localizer["Tüm Kitaplar"]</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@localizer["Son Yorumlar"]</h4>
                <div class="card-body">
                    @await Component.InvokeAsync("ListYorum")
                </div>
                <div class="card-footer">
                    <a asp-controller="Yorum" asp-action="Index" class="btn btn-primary">@localizer["Tüm Yorumları Gör"]</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@localizer["Son Eklenen Süreli Yayın"]</h4>
                <div class="card-body">
                    <a asp-controller="SureliYayin" asp-action="Details" asp-route-id="@sonSureliYayinId">
                        <img class="img-fluid rounded" style="height:400px;width:400px" src="@sonSureliYayinKapak" alt="">
                    </a>
                </div>
                <div class="card-footer">
                    <a asp-controller="SureliYayin" asp-action="Index" class="btn btn-primary">@localizer["Tüm Süreli Yayınlar"]</a>
                </div>
            </div>
        </div>

    </div>
</div>
