@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KutuphaneOtomasyonu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/modern-business.css" rel="stylesheet" />
    <link href="~/css/searchBar.css" rel="stylesheet" />
    <link href="~/css/comments.css" rel="stylesheet" />
    <link href="~/css/Loginform.css" rel="stylesheet" />
    <link href="~/css/registerrr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kütüphane</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Anasayfa"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @localizer["Eserler"]
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="nav-link text-white" asp-area="" asp-controller="Kitap" asp-action="Index">@localizer["Kitaplar"]</a>
                                <a class="nav-link text-white" asp-area="" asp-controller="SureliYayin" asp-action="Index">@localizer["Süreli Yayınlar"]</a>

                            </div>
                        </li>


                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @localizer["Admin"]
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Kitap" asp-action="Index"> @localizer["Kitaplar"] </a>
                                    <a class="nav-link text-white" asp-area="" asp-controller="SureliYayin" asp-action="Index">@localizer["Süreli Yayınlar"]  </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Yazar" asp-action="Index"> @localizer["Yazarlar"]  </a>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Yayinevi" asp-action="Index"> @localizer["Yayınevleri"]   </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dil" asp-action="Index"> @localizer["Diller"]    </a>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Tur" asp-action="Index"> @localizer["Türler"]    </a>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Raf" asp-action="Index"> @localizer["Raflar"]   </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-white" asp-area="" asp-controller="Ayirttirilanlar" asp-action="Index"> @localizer["Ayırttırılanlar"]  </a>



                                </div>
                            </li>
                            <li class="nav-item">
                                <partial name="_Culture" />
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                    <button type="submit" class="nav-link" btn btn-link
                                            style="width:auto;background-color:transparent;border:unset;color:white">
                                        @localizer["Çıkış Yap"] 
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">   @localizer["Giriş Yap"]  </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">    @localizer["Kayıt Ol"]  </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-primary">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Burak Çevik</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
