@model KutuphaneOtomasyonu.Models.SureliYayin

@{
    ViewData["Title"] = "Süreli Yayın Detayları";
}

<h1>Detaylar</h1>

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <a href="#">
                    <img class="img-fluid rounded" style="height:500px;width:400px" src="@Model.Kapak" alt="@Model.EserAdi">
                </a>
            </div>
            <div class="col-lg-7">
                <h1 class="card-title"><b>@Model.EserAdi</b></h1>
                <p class="card-text"><b>ISBN: </b> @Model.ISBN</p>
                <p class="card-text"><b>Süre/Dönem: </b> @Model.Tarih</p>
                <p class="card-text"><b>Yayınevi: </b> @Model.Yayinevi.Ad</p>
                <p class="card-text"><b>Tür: </b> @Model.Tur.TurAd</p>
                <p class="card-text"><b>Sayfa Sayısı: </b> @Model.SayfaSayisi</p>
                <p class="card-text"><b>Baskı Sayısı: </b> @Model.BaskiSayisi</p>
                <p class="card-text"><b>Dil: </b> @Model.Dil.DilAd</p>
                <p class="card-text"><b>Hakkında: </b> @Model.Icerik</p>


                    <p class="card-text" style="color:green"><b>Durum: Rafta. Süreli yayınlar ödünç alınamaz </b> </p>               
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary ">Düzenle</a>
                <a asp-action="Index" class="btn btn-primary ">Kitaplara geri dön</a>
            </div>
        </div>
    </div>
</div>