@model List<Yorum>

@foreach (var item in Model)
{


    <div class="be-comment">
        <div class="be-img-comment">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">      
        </div>
        <div class="be-comment-content">
            <div class="row">
                <div class="be-comment-name col-lg-4">
                    @item.User.UserName
                </div>
                <div class="be-comment-time col-lg-8">
                    <i class="fa fa-clock-o"></i>
                    @item.olusturulmaTarihi

                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-controller="Yorum" asp-action="Delete" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn fas fa-trash " style="float:right" />
                        </form>
                    }
                    </div>
            </div>
            <a asp-controller="Kitap" asp-action="Details" asp-route-id="@item.KitapId">
                <p class="be-comment-text">
                    @item.Icerik
                </p>
            </a>
        </div>
    </div>
}

