@model IEnumerable<KutuphaneOtomasyonu.Models.Odunc>

@{
    ViewData["Title"] = "Ödünçler";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kitap.EserAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gelecegiTarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kitap.EserAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gelecegiTarih)
                </td>
                <td>
                    <form asp-action="Delete" method="post" style="display:inline-block">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn fas fa-undo " style="float:right" title="İade Al" />
                    </form>

                    @if (item.uzatilabilirMi == true)
                    {
                        <form asp-action="SureUzat" method="post" style="display:inline-block">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button type="submit" class="btn fas fa-calendar " style="float:right" title="Süre Uzat" />
                        </form>
                    }
                    else
                    {
                        <form asp-action="SureUzat" method="post" style="display:inline-block">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <button disabled type="submit" class="btn fas fa-calendar " style="float:right" title="Süre Uzat" />
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>